<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pass-Stache  *෴* </title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
  <link href="https://fonts.googleapis.com/css?family=Courgette|Open+Sans&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-inverse" style="background-color:#001736" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Pass-Stache *෴* </a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">


              {{#if loggedIn}}
                <div class="btn-group">
                  <a id="logout" class="btn btn-primary btn-block" href="#" role="button">Logout</a>
                  {{!-- <button id="logout" class="btn-no-style">logout</button> --}}
                </div>
                <div class="btn-group">
                  <a class="btn btn-primary btn-block" href="/dashboard" role="button">Dashboard</a>
                </div>
              {{else}}
                <div class="btn-group">
                  <a class="btn btn-primary btn-block" href="/login" role="button">Login</a>
                </div>
              {{/if}}
                {{!-- <button type="button" class="btn btn-primary navbar-btn" href="/login">Login</button> --}}
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <main class="text-center">
      {{{ body }}}
    </main>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <div class="footer" style="background-color:#001736">
            <div class="container">
              <div class="clearfix">
                <div class="footer-logo"><a href="/">Pass-Stache *෴*</a></div>
                <dl class="footer-nav">
                  <dt class="nav-title">ABOUT</dt>
                  <dd class="nav-item"><a href="/homepage">How it works</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">Portfolios</dt>
                  <dd class="nav-item"><a href="https://andydhpkp.github.io/">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="https://jondagamkd.github.io/portfolio/">John Woodland</a></dd>
                  <dd class="nav-item"><a href="https://lmboyd1.github.io/Portfolio/">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="https://mitchlyon.github.io/">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="https://sadboitay.github.io/portfolio2.0/">Taylor Hakes</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">Email</dt>
                  <dd class="nav-item"><a href="mailto:andrewdurham1094@gmail.com">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="mailto:johntaylorwoodland@gmail.com">John Woodland</a></dd>
                  <dd class="nav-item"><a href="mailto:Lm.boyd@icloud.com">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="mailto:kekoa.lyon@gmail.com">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="mailto:tg.hakes@gmail.com">Taylor Hakes</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">GitHub</dt>
                  <dd class="nav-item"><a href="https://github.com/andydhpkp">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="https://github.com/jondagamkd">John Woodland</a></dd>
                  <dd class="nav-item"><a href="https://github.com/LmBoyd1">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="https://github.com/mitchlyon">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="https://github.com/SadboiTay">Taylor Hakes</a></dd>
                </dl>
              </div>
              <div class="footer-copyright text-center">Property of Andrew Durham, John Woodland, Logan Boyd, Mitchell Lyon, Taylor Hakes</div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  <section>
    </div>
      <div class="leaf">
      <div><img src="./img/transps1.gif"></img></div>
      <div><img src="./img/transps2.gif" height="60px" width="75px" ></img></div>
      <div><img src="./img/transps3.gif" height="75px" width="60px" ></img></div>
      <div><img src="./img/transps4.gif" height="55px" width="75px" ></img></div>
      <div><img src="./img/transps5.gif" height="30px" width="75px" ></img></div>
      <div><img src="./img/transps6.gif" height="50px" width="75px" ></div>
      <div><img src="./img/transps7.gif" height="75px" width="75px" ></div>
              
      </div>
      
      <div class="leaf leaf1">
      <div><img src="./img/transps7.gif" height="75px" width="75px" ></div>
      <div><img src="./img/transps2.gif" height="60px" width="75px" ></img></div>
      <div><img src="./img/transps1.gif"></img></div>
      <div><img src="./img/transps3.gif" height="75px" width="60px" ></img></div>
      <div><img src="./img/transps6.gif" height="50px" width="75px" ></div>
      <div><img src="./img/transps5.gif" height="30px" width="75px" ></img></div>
      <div><img src="./img/transps4.gif" height="55px" width="75px" ></img></div>
      
              
      </div>
      
      <div class="leaf leaf2">
      <div><img src="./img/transps1.gif"></img></div>
      <div><img src="./img/transps2.gif" height="60px" width="75px"></img></div>
      <div><img src="./img/transps3.gif" height="75px" width="60px" ></img></div>
      <div><img src="./img/transps4.gif" height="55px" width="75px" ></img></div>
      <div><img src="./img/transps5.gif" height="30px" width="75px" ></img></div>
      <div><img src="./img/transps6.gif" height="50px" width="75px" ></div>
      <div><img src="./img/transps7.gif" height="75px" width="75px" ></div>
              
      </div>
     </section>

  </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/delete-pass.js"></script>
</body>

</html>