<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pass-Stache  *෴* </title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
</head>

<body>
  <div class="wrapper">
    <header>
    </header>
    <main class="text-center">
      {{{ body }}}
    </main>
    <footer>
      <div class="row">
        <div class="col-md-12">
          <div class="footer">
            <div class="container">
              <div class="clearfix">
                <!-- <div class="footer-logo"><a href="#"><img src="./img/ps2.jpg">Pass-Stache</a></div> -->
                <dl class="footer-nav">
                  <dt class="nav-title">ABOUT</dt>
                  <dd class="nav-item"><a href="/homepage/#info">How it works</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">Portfolios</dt>
                  <dd class="nav-item"><a href="#">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="#">John Woodland</a></dd>
                  <dd class="nav-item"><a href="#">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="#">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="#">Taylor Hakes</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">Email</dt>
                  <dd class="nav-item"><a href="#">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="#">John Woodland</a></dd>
                  <dd class="nav-item"><a href="#">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="#">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="#">Taylor Hakes</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">CONTACT</dt>
                  <dd class="nav-item"><a href="#">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="#">John Woodland</a></dd>
                  <dd class="nav-item"><a href="#">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="#">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="#">Taylor Hakes</a></dd>
                </dl>
                <dl class="footer-nav">
                  <dt class="nav-title">Other Works</dt>
                  <dd class="nav-item"><a href="#">Andrew Durham</a></dd>
                  <dd class="nav-item"><a href="#">John Woodland</a></dd>
                  <dd class="nav-item"><a href="#">Logan Boyd</a></dd>
                  <dd class="nav-item"><a href="#">Mitchell Lyon</a></dd>
                  <dd class="nav-item"><a href="#">Taylor Hakes</a></dd>
                </dl>
              </div>
              <div class="footer-copyright text-center">Property of Andrew Durham, John Woodland, Logan Boyd, Mitchell Lyon, Taylor Hakes</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
</body>

</html>