        </br>
        </br>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-block" href="#" data-toggle="modal" data-target="#task-form-modal">Add a new password+</button>
        </div>
        </br>
        </br>  
        
        
        {{!-- <div class="btn-group">
            <button type="button" class="btn btn-primary">Example Pass!</button>
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Copy to Clipboard</a></li>
              <li><a href="#">Reveal Password</a></li>
              <li><a href="#">Edit Password</a></li>
              <li class="divider"></li>
              <li><a href="#">Delete Password</a></li>
            </ul>
          </div> --}}

          {{#each credentials}}
          {{#if credentials.length}}
            <div class="btn-group">
              <button type="button" class="btn btn-primary">{{nickname}}</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <textarea id="copythingy" name="hide" style="display:none;" hidden="hidden">{{credentials.password}}</textarea>
                {{!-- <button onclick="copyToClipBoard()">Copy</button> --}}
                <li><a onclick="copyToClipBoard()" id="copythingy">Copy to Clipboard</a></li>
                <li><a href="#">Reveal Password</a></li>
                <li><a href="#">Edit Password</a></li>
                <li class="divider"></li>
                <li><a href="#">Delete Password</a></li>
              </ul>
            </div>
          {{/if}}
          {{/each}}

        <div class="modal" id="task-form-modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title">Create A Password</h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <form class="col-xs-12" id="messageInput">
                      <label>Password Name</label>
                      <input type="text" id="passname-field" class="form-control" placeholder="Password Name">
                    </form>
                  </div>
                  <div class="row">
                    <form class="col-xs-12" id="city-box">
                      <label>Enter Your Password Here</label>
                      <input type="text" id="pass-field" class="form-control" placeholder="My Password">
                    </form>
                  </div>
                  <label id="optionsWords">Include the following options?</label>
                  <div class="row">
                    <div class="col-xs-6">
                        Disregard Above Password and Generate a New Random One?
                    </div>
                    <form class="col-xs-6">
                        <label class="toggle">
                        <input type="checkbox" id="weather">
                        <span class="handle"></span>
                        </label>
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" id="send-btn" class="btn">Send</button>
                </div>
              </div>
            </div>
          </div>

          <script src="/js/index.js"></script>