<div class="hero">
        <h1>
            <a href="/">Pass-Stache</a>
        </h1>
        <a href="/" id="pslogo"><img src="./img/pslogomain.gif" alt="Pass-Stache Logo"></a>
    </div>
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="/login" role="button">Login</a>
        </div>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <a class="btn btn-primary btn-block" href="/register" role="button">Sign Up</a>
        </div>
    </div>
    </br>
    <div class="text-center row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            {{!-- <button type="submit" class="btn" href="#info">First Time Here?</button> --}}
            <a class="btn btn-primary btn-block" href="#info" role="button">First Time Here?</a>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div class="info">
        <h3 name="info" id="info">
            <p>About Pass-Stache</p>
        </h2>
        <p>Pass-Stache is an easy, fun, secure way to 'stash' all of your passwords.  Built with portability in mind this handy little app can be used at work or on the go!  Simply login, record your password, and you're set.  So next time you ask yourself, "What was that password again?"  No need to worry, Pass-Stache has you covered!</p>
    </div>