    </br>
    </br>
        <div class="row">
            <div class="col-xs-6">
                <label>First Name</label>
            </div>
            <form class="col-xs-3">
                <input type="text" class="form-control" placeholder="First Name">
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Last Name</label>
            </div>
            <form class="col-xs-3">
                <input type="text" class="form-control" placeholder="Last Name">
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Username</label>
            </div>
            <form class="col-xs-3">
                <input type="text" class="form-control" placeholder="Username">
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Email</label>
            </div>
            <form class="col-xs-3">
                <input type="text" class="form-control" placeholder="Email">
            </form>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label>Login Pass</label>
            </div>
            <form class="col-xs-3">
                <input type="text" class="form-control" placeholder="Login Password">
            </form>
        </div>
        </br>
        </br>
        <form class="row text-center register_submit">
            <button type="submit" class="btn" href="#info">Submit</button>
        </form>
            <a href="/"><img src="./img/ps.jpg" alt="Pass-Stache Logo"></a>