    </br>
    </br>
    <form class="register-form">
        <div class="row">
            {{!-- <div class="col-xs-6"> --}}
                <label for="register-first-name">First Name</label>
            {{!-- </div> --}}
            {{!-- <div class="col-xs-3"> --}}
                <input type="text" class="form-control" placeholder="First Name" id="register-first-name">
            {{!-- </div> --}}
        </div>
        </br>
        <div class="row">
            {{!-- <div class="col-xs-6"> --}}
                <label for="register-last-name">Last Name</label>
            {{!-- </div> --}}
            {{!-- <div class="col-xs-3"> --}}
                <input type="text" class="form-control" placeholder="Last Name" id="register-last-name">
            {{!-- </div> --}}
        </div>
        </br>
        <div class="row">
            {{!-- <div class="col-xs-6"> --}}
                <label for="register-email">Email</label>
            {{!-- </div> --}}
            {{!-- <div class="col-xs-3"> --}}
                <input type="text" class="form-control" placeholder="Email" id="register-email">
            {{!-- </div> --}}
        </div>
        </br>
        <div class="row">
            {{!-- <div class="col-xs-6"> --}}
                <label for="register-master-password">Master Password</label>
            {{!-- </div> --}}
            {{!-- <div class="col-xs-3"> --}}
                <input type="password" class="form-control" placeholder="Login Password" id="register-master-password">
                <input type="checkbox" onclick="revealMasterPassword()"> Show Password
            {{!-- </div> --}}
        </div>
        </br>
        </br>
        <div class="row text-center register_submit btn-group">
            <button type="submit" class="btn btn-primary btn-block" href="#info">Sign Up</button>
        </div>
    </form>
    <img class="pslogo" src="./img/pslogomain.gif" alt="Pass-Stache Logo">

<script src="/js/register.js"></script>