    </br>
    </br>
    <form class="register-form">
        <div class="row">
            <div class="col-xs-6">
                <label for="registername">First Name</label>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="First Name" id="registername">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="registerlastname">Last Name</label>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Last Name" id="registerlastname">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="registerusername">Username</label>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Username" id="registerusername">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="registeremail">Email</label>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Email" id="registeremail">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <label for="registerloginpass">Login Pass</label>
            </div>
            <div class="col-xs-3">
                <input type="text" class="form-control" placeholder="Login Password" id="registerloginpass">
            </div>
        </div>
        </br>
        </br>
        <div class="row text-center register_submit">
            <button type="submit" class="btn" href="#info">Submit</button>
        </div>
    </form>
            <a href="/"><img src="./img/ps.jpg" alt="Pass-Stache Logo"></a>