</br>
</br>
<form class="verification-form">
    <h4>Check your email inbox for your authentication code</h4>
    <div class="row btn-group text-center">
        <label for="verify-input">Authentication code:</label>
        <input type="text" class="form-control" placeholder="ex. 018427" id="user-token">
    </div>
    </br>
    </br>
    <div class="row text-center login_submit btn-group">
        <button type="submit" class="btn btn-primary btn-block">Verify</button>
    </div>
</form>
<img class="pslogo" src="./img/pslogomain.gif" alt="Pass-Stache Logo">

<script src="/js/verify.js"></script>