body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #333;
  }

.main_buttons {
    text-align-last: center;
    border: 2px solid black;
}

.navbar-collapse {
  padding-top: 8px;
}

.add-credential {
  padding: 3.5%;
}

.update-password {
  padding: 3.5%;
}