* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  color: #333;
  overflow-x: hidden;
  width: 100vw;
}

main {
  min-height: 80vh;
}

.main_buttons {
  text-align-last: center;
  border: 2px solid black;
}

.navbar-collapse {
  padding-top: 8px;
}

#deleteBtn {
  float: left;
}

.pslogo {
  max-width: 350px;
}

.leaf {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.leaf div {
  position: absolute;
  display: block;
  z-index: -1;
}

.leaf div:nth-child(1) {
  left: 20%;
  animation: fall 15s linear infinite;
  animation-delay: -2s;
  z-index: -1;
}

.leaf div:nth-child(2) {
  left: 70%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
  z-index: -1;
}

.leaf div:nth-child(3) {
  left: 10%;
  animation: fall 20s linear infinite;
  animation-delay: -7s;
  z-index: -1;
}

.leaf div:nth-child(4) {
  left: 50%;
  animation: fall 18s linear infinite;
  animation-delay: -5s;
  z-index: -1;
}

.leaf div:nth-child(5) {
  left: 85%;
  animation: fall 14s linear infinite;
  animation-delay: -5s;
  z-index: -1;
}

.leaf div:nth-child(6) {
  left: 15%;
  animation: fall 16s linear infinite;
  animation-delay: -10s;
  z-index: -1;
}

.leaf div:nth-child(7) {
  left: 90%;
  animation: fall 15s linear infinite;
  animation-delay: -4s;
  z-index: -1;
}

@keyframes fall {
  0% {
    opacity: 1;
    top: -10%;
    transform: translateX (20px) rotate(0deg);
  }
  20% {
    opacity: 0.8;
    transform: translateX (-20px) rotate(45deg);
  }
  40% {
    transform: translateX (-20px) rotate(90deg);
  }
  60% {
    transform: translateX (-20px) rotate(135deg);
  }
  80% {
    transform: translateX (-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX (-20px) rotate(225deg);
  }
}

.leaf1 {
  transform: rotateX(180deg);
  z-index: -1;
}

footer {
  z-index: 7;
}

.add-credential {
  padding: 3.5%;
}

.passwordUpdate {
  padding: 3.5%;
}

.clipboard-confirmation {
  margin-top: 10px;
  color: lightslategray;
  font-size: 1.5rem;
}

.hide {
  display: none;
}

.form-control {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 450px) {
  .modal {
    max-width: 375px;
  }

  .modal-close{
    display: none;
  }
}